.animal {
  border: 2px solid black;
  padding: 20px;
  width: 600px;
}

.jumbotron {
  background-image: url("../img/adopt.jpg");
  height: 400px;
}

.newPet:hover {
  color: #000099;
  text-decoration-line: underline;
}
.btn {
  border-radius: 10px;
}
